<!doctype html>
<html lang="en">
    <head>
		<title>Sighting Statistics</title>
	</head>
    <body>
        <header class='header'>
            <h1>Squirrel Tracker</h1>
            <h3>Five Attributes Statistics</h3>
        </header>

        <main>
        	<li>In this data set, we have {{total}} observations in total.</li>
      		<br>
      		<li>Latitiude：The minimum latitude is {{latitude_min}}</li>
      		<li>Latitiude：The maximum latitude is {{latitude_max}}</li>
      		<br>
      		<li>Longitude：The minimum longitude is {{longitude_min}}</li>
      		<li>Longitude：The maximum longitude is {{longitude_max}}</li>
      		<br>
    	</main>


    </body>
</html>
