<!doctype html>
<html lang="en">
    <head>
		<title>Sighting Statistics</title>
	</head>
    <body>
        <header class='header'>
            <h1>Squirrel Tracker</h1>
            <h3>Statistics of Interest</h3>
        </header>

        <main>
        	<li>In this data set, we have {{total}} observations in total.</li>
      		<br>
		<li>The max latitude is {{lat.max_latitude}}</li>
      		<br>
		<li>The avg latitude is {{lat.average_latitude}}</li>
      		<br>
		<li>The min latitude is {{lat.min_latitude}}</li>
      		<br>
		<li>The max longitude is {{long.max_longitude}}</li>
      		<br>
		<li>The avg longitude is {{long.average_longitude}}</li>
      		<br>
		<li>The min longitude is {{long.min_longitude}}</li>
		<br>
		<li>The number of adult squirrels is {{count_adult}}</li>
		<br>
      		<li>The number of juvenile squirrels is {{count_juvenile}}</li>
		<br>
		<li>The number of running squirrels is {{count_running}}</li>
		<br>
      		<li>The number of eating squirrels is {{count_eating}}</li>
    	</main>
	<p><a href="/sightings/">Back to Squirrel Sightings</a></p>

    </body>
</html>
