<!doctype html>
<html lang="en">
    <head>
		<title>Sighting Statistics</title>
	</head>
    <body>
        <header class='header'>
            <h1>Squirrel Tracker</h1>
            <h3>Five Attributes Statistics</h3>
        </header>

        <main>
        	<li>In this data set, we have {{total}} observations in total.</li>
      		<br>
      		<li>The number of adult squirrels is {{count_adult}}</li>
		<br>
      		<li>The number of juvenile squirrel is {{count_juvenile}}</li>
      		<br>
      		<li>The number of running squirrel is {{count_running}}</li>
		<br>
      		<li>The number of eating squirrel is {{count_eating}}</li>
      		<br>
    	</main>


    </body>
</html>
